.wp-block-blockwriter-steps {
	outline: 1px dashed #1e1e1e26;
	outline-offset: 4px;

	.bw-step-placeholder {
		opacity: 0.5;
		font-style: italic;
	}

	.bw-steps-hint {
		font-style: italic;
		opacity: 0.7;
	}
}
