.wp-block-blockwriter-faq {
	outline: 1px dashed #1e1e1e26;
	outline-offset: 4px;
	padding: 8px;

	.bw-faq-item {
		border: 1px dashed #a5a5a5;
		border-radius: 6px;
		padding: 8px 12px;

		+ .bw-faq-item {
			margin-top: 8px;
		}
	}

	.bw-faq-empty {
		color: #757575;
		margin: 8px 0;
	}

	.components-button.is-secondary {
		margin-top: 12px;
	}
}
