.wp-block-blockwriter-hero {
	outline: 1px dashed #1e1e1e26;
	outline-offset: 4px;

	.bw-hero-content {
		width: 100%;

		> .block-editor-inner-blocks {
			width: 100%;

			> .block-editor-block-list__layout {
				padding: 24px;
			}
		}
	}
}
