.wp-block-blockwriter-text {
	&:focus {
		outline: none;
	}

	&.has-drop-cap {
		&::first-letter {
			float: left;
			font-size: 3em;
			line-height: 1;
			padding-right: 8px;
			padding-top: 4px;
		}
	}
}
