.wp-block-blockwriter-video {
	margin-left: 0;
	margin-right: 0;

	&.bw-video-placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 160px;
		border: 1px dashed #1e1e1e26;
		background: #f6f7f7;
		cursor: pointer;
	}
}
