.bw-icon-picker {
  .bw-icon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    margin-top: 10px;
  }

  .bw-icon-btn {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;

    &.is-active {
      background: #007cba;
      color: #fff;
    }
  }
}

.wp-block-blockwriter-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--bw-icon-size);
  height: var(--bw-icon-size);
  color: var(--bw-icon-color);
  background: var(--bw-icon-bg);
  padding: var(--bw-icon-padding);
  border-radius: var(--bw-icon-radius);
}
