.bw-conditional-content {
	padding: 16px;

	.bw-conditional-content__intro {
		margin-top: 0;
	}

	.bw-conditional-content__roles {
		margin: 0 0 16px;
		padding: 0;
		border: 0;
	}

	.bw-conditional-content__legend {
		margin-bottom: 8px;
		font-weight: 600;
	}

	.bw-conditional-content__reset {
		margin-top: 16px;
	}
}
