.wp-block-blockwriter-list {
	outline: 1px dashed #1e1e1e26;
	outline-offset: 4px;

	.bw-list__remove {
		margin-left: auto;
		opacity: 0.5;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.bw-list__add {
		margin-top: 12px;
	}

	.bw-list__hint {
		margin: 0 0 12px;
		color: #757575;
		font-style: italic;
	}
}
